{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block section %}

<!-- Page Header Start -->
<div class="page-header mb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% if request.user.is_authenticated %}
                <h2>Give feedback</h2>
                {% else %}
                <h2>First, log in to your account !</h2>
                {% endif %}
            </div>

        </div>
    </div>
</div>
<!-- Page Header End -->
{% if request.user.is_authenticated %}
<div style="background-color:#fdbe33;" class="row">
    <div class="col-md-6 offset-md-3">
        <center style="color: white; font-size:30px; font-family: 'Nunito', sans-serif;">We are interested in your
            thoughts
        </center>
        <hr>
        <form class="addarticle" method='post'>
            {% csrf_token %}
            {{form|crispy}}
            <br>
            <button style="margin-bottom: 10px;" type="submit" class='btn btn-success'>Share</button>

        </form>
    </div>

</div>
{% endif %}


{% endblock section %}