{% extends 'base.html' %}
{% load static %}

{% block section %}
<!-- Page Header Start -->
<div class="page-header mb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% if request.user.is_authenticated %}
                <h2>Reservation</h2>
                {% else %}
                <h2>You can use our services only when you are logged in to your account !!!</h2>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->


{% if request.user.is_authenticated %}
<!-- Booking Start -->
<!-- Booking Start -->
<div class="booking">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="booking-content">
                    <div class="section-header">
                        <p>Make a reservation</p>
                        <h2>Reserve your table for special tastes and times</h2>
                    </div>
                    <div class="about-text">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate similique, numquam,
                            minima blanditiis at voluptas fuga rerum deleniti laborum mollitia expedita veritatis
                            accusantium delectus reiciendis nam aliquam quisquam facere quasi iusto voluptatum
                            laboriosam nulla? Necessitatibus perferendis tempora sed iure quo, est dignissimos. Error in
                            eveniet doloribus porro doloremque, adipisci laborum, nam numquam ea, explicabo quam
                            voluptatibus exercitationem officiis. Sed harum recusandae tempora voluptas fuga! Cum,
                            labore. Doloremque numquam corrupti similique eius excepturi. Asperiores fugit molestiae
                            ratione voluptates nulla anes quos animi. Ad amet quae, iusto quo nostrum,
                            eveniet voluptate quis nihil nesciunt architecto voluptas. Deleniti iste quae ab officia. A
                            possimus sed itaque molestiae mollitia tenetur. Quia earum voluptate nihil corrupti
                            consequuntur.</p>
                        <p>
                            <span style="color: red;">!</span> If the reservation is canceled 7 days before the
                            reservation date, we will refund the entire advance payment. <br>
                            <span style="color: red;">!!</span> We will refund 50% of the advance payment if canceled 2
                            days before the date. <br>
                            <span style="color: red;">!!!</span> If canceled less than 2 days prior to the date, the
                            advance payment will not be refunded.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="booking-form">
                    <form>
                        <div class="control-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Name" required="required" />
                                <div class="input-group-append">
                                    <div class="input-group-text"><i class="far fa-user"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="input-group">
                                <input type="email" class="form-control" placeholder="Email" required="required" />
                                <div class="input-group-append">
                                    <div class="input-group-text"><i class="far fa-envelope"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="input-group">
                                <input id="mobilenumber" type="text" class="form-control" placeholder="Phone Numberr"
                                    required="required" />
                                <div style="display: flex;" class="input-group-append">
                                    <div class="input-group-text"><i class="fa fa-mobile-alt"></i></div>
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="input-group date" id="date" data-target-input="nearest">
                                <input type="text" class=" mask form-control datetimepicker-input" placeholder="Date"
                                    data-target="#date" data-toggle="datetimepicker" />
                                <div class="input-group-append" data-target="#date" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="input-group time" id="time" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" placeholder=" Time"
                                    data-target="#time" data-toggle="datetimepicker" />
                                <div class="input-group-append" data-target="#time" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="far fa-clock"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="input-group">
                                <select style="background-color: orange;" class="custom-select form-control">
                                    <option selected>Which Branch?</option>
                                    <option value="1">Narmanov </option>
                                    <option value="2">Nizami </option>
                                    <option value="3">28 May </option>
                                </select>
                                <div class="input-group-append">
                                    <div class="input-group-text"><i class="fa fa-chevron-down"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="input-group">
                                <select style="background-color: orange;" class="custom-select form-control">
                                    <option selected>How many people?</option>
                                    <option value="1">1 </option>
                                    <option value="2">2 </option>
                                    <option value="3">3 </option>
                                    <option value="4">4 </option>
                                    <option value="5">5 </option>
                                    <option value="6">6 </option>
                                    <option value="7">7 </option>
                                    <option value="8">8 </option>
                                    <option value="9">9 </option>
                                    <option value="10">10</option>
                                </select>
                                <div class="input-group-append">
                                    <div class="input-group-text"><i class="fa fa-chevron-down"></i></div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button id="basicAlert" class="btn custom-btn" type="button">Book Now</button>
                        </div>
                        <script>
                            document.getElementById('basicAlert').addEventListener('click', function () {
                                Swal.fire(
                                    'Thanks!',
                                    'A return will be made shortly !',
                                    'success'
                                )
                            });
                        </script>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Booking End -->
{% endif %}



{% endblock section %}