{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block section %}

<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>{% trans "Contact Us For Any Questions" %}</h2>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Contact Start -->
<div class="contact">
    <div class="container">

        <!-- FAQs Start -->
        <div style="margin: 40px;" class="faqs">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div id="accordion-1">
                            <div style="margin: 10px;" class="card wow fadeInLeft" data-wow-delay="0.1s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapseOne">
                                        {% trans "Having problems with orders" %} ?
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse" data-parent="#accordion-1">
                                    <div class="card-body">
                                        {% trans "Contact us by email and we will solve your problems" %}.
                                    </div>
                                </div>
                            </div>
                            <div style="margin: 10px;" class="card wow fadeInLeft" data-wow-delay="0.2s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapseTwo">
                                       {% trans " Can't find the address" %} ?
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse" data-parent="#accordion-1">
                                    <div class="card-body">
                                        {% trans "The exact address of each of our branches is given on our page" %}.
                                    </div>
                                </div>
                            </div>
                            <div style="margin: 10px;" class="card wow fadeInLeft" data-wow-delay="0.3s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapseThree">
                                        {% trans "Is it possible to pay by card" %} ?
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse" data-parent="#accordion-1">
                                    <div class="card-body">
                                        {% trans "Yes, all payment options are available" %}.
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="accordion-2">
                            <div style="margin: 10px;" class="card wow fadeInRight" data-wow-delay="0.1s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapseSix">
                                        {% trans "How many people can be accommodated in the space" %} ?
                                    </a>
                                </div>
                                <div id="collapseSix" class="collapse" data-parent="#accordion-2">
                                    <div class="card-body">
                                        
                                        {% blocktrans %}
                                        80, this is available around 8 separate tables with seating for a maximum of 10
                                        people.
                                        {% endblocktrans %}
                                        
                                    </div>
                                </div>
                            </div>
                            <div style="margin: 10px;" class="card wow fadeInRight" data-wow-delay="0.2s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapseSeven">
                                        {% trans "Is it possible to come to the place as a whole family" %} ?
                                    </a>
                                </div>
                                <div id="collapseSeven" class="collapse" data-parent="#accordion-2">
                                    <div class="card-body">
                                        {% trans "Yes, you can easily invite all your friends and family members to us" %}.
                                    </div>
                                </div>
                            </div>
                            <div style="margin: 10px;" class="card wow fadeInRight" data-wow-delay="0.3s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapseEight">
                                        {% trans "Where else are your venues available" %} ?
                                    </a>
                                </div>
                                <div id="collapseEight" class="collapse" data-parent="#accordion-2">
                                    <div class="card-body">
                                        {% trans "May 28, Nizami and Narmanov other branches are available, you can come" %}.
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FAQs End -->

        <div class="row align-items-center contact-information">
            <div class="col-md-6 col-lg-3">
                <div class="contact-info">
                    <div class="contact-icon">
                        <i class="fa fa-map-marker-alt"></i>
                    </div>
                    <div class="contact-text">
                        <h3>{% trans "Address" %}</h3>
                        <p>{% trans "Baku" %} <i style="color: #fdbe33;" class="fa-solid fa-arrows-left-right"></i> 28 May Mst </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="contact-info">
                    <div class="contact-icon">
                        <i class="fa fa-phone-alt"></i>
                    </div>
                    <div class="contact-text">
                        <h3>{% trans "Call" %}</h3>
                        <p>+994 070 494 91 11</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="contact-info">
                    <div class="contact-icon">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="contact-text">
                        <h3>Email</h3>
                        <p>info@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="contact-info">
                    <div class="contact-icon">
                        <i class="fa fa-share"></i>
                    </div>
                    <div class="contact-text">
                        <h3>{% trans "Follow us" %}</h3>
                        <div class="contact-social">
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row contact-form">
            <div class="col-md-6">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.3024328134775!2d49.809140214761086!3d40.379989265798294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307dcf8079e889%3A0x5ac9cd74d3f9a22b!2sAjdaha%20doner%20Elmler!5e0!3m2!1str!2s!4v1650187988537!5m2!1str!2s"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-md-6">
                <form method="POST">
                    {% csrf_token %}
                    <div>
                        <label for="">Name: </label>
                        {{form.name}}
                        <label for="{{ form.mail_address.id_for_label }}">Email Address:</label>
                        {{ form.mail_address }}
                        {{ form.mail_address.errors }}
                        <label for="">Messages: </label>
                        {{form.messages}}
                    </div>
                    
                    <div>
                        <button id="formbtn" style="margin-top: 4px;" class="btn custom-btn" type="submit"> {% trans "Send" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Contact End -->

{% endblock section %}