{% extends 'base.html' %}
{% load static %}

{% block section %}

<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>FAQs</h2>
            </div>
           
        </div>
    </div>
</div>
<!-- Page Header End -->
  <div style="margin: 40px;">
      <br><br><br>
      <h5><span style="color: red;">1. </span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium labore deserunt beatae assumenda sit ex. Cumque repudiandae amet blanditiis necessitatibus, voluptates rem molestiae non eius natus porro eaque. Quae maxime ratione laudantium fuga! Corporis minima iste, facilis aperiam quasi nobis velit quibusdam delectus enim? Doloribus cupiditate perferendis accusantium veritatis vero!</h5>
      <br>
      <h5><span style="color: red;">2. </span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam sequi voluptatem rerum necessitatibus ducimus dolorem voluptates cumque impedit laboriosam esse.</h5>
      <br>
      <h5><span style="color: red;">3. </span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium labore deserunt beatae assumenda sit ex. Cumque repudiandae amet blanditiis necessitatibus, voluptates rem molestiae non eius natus porro eaque. Quae maxime ratione laudantium fuga! Corporis minima iste, facilis aperiam quasi nobis velit quibusdam delectus enim? Doloribus cupiditate perferendis accusantium veritatis vero!</h5>
      <br>
      <h5><span style="color: red;">4. </span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam sequi voluptatem rerum necessitatibus ducimus dolorem voluptates cumque impedit laboriosam esse.</h5>
  
    </div>

{% endblock section %}