{% load static %}

<!-- Menu Start -->
<div class="menu">
    <div class="container">
        <div class="menu-tab">
            <ul class="nav nav-pills justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#burgers-sfr">Dönərlər</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#snacks-sfr">İçkilər</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#beverages-sfr">Setlər</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="burgers-sfr" class="container tab-pane active">
                    <div class="row"> 
                    <section class="container content-section">
                        <div class="shop-items">
                            {% for t in burger_menu %}
                            <div class="shop-item">
                                <span class="shop-item-title">{{t.name}}</span>
                                <img data-tilt class="shop-item-image" src="{{t.image.url}}">
                                <div class="shop-item-details">
                                    <span class="shop-item-price">{{t.price}}<i class="fa-solid fa-manat-sign"></i></span>
                                    <button class="btn btn-primary shop-item-button" type="button">Əlavə Et</button>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </section>
                    </div>
                </div>
                <div id="snacks-sfr" class="container tab-pane fade">
                    <div class="row">
                        <section class="container content-section">
                            <div class="shop-items">
                                {% for d in drink_menu %}
                                <div class="shop-item">
                                    <span class="shop-item-title">{{d.name}}</span>
                                    <img data-tilt class="shop-item-image" src="{{d.image.url}}">
                                    <div class="shop-item-details">
                                        <span class="shop-item-price">{{d.price}}<i class="fa-solid fa-manat-sign"></i></span>
                                        <button class="btn btn-primary shop-item-button" type="button">Əlavə Et</button>
                                    </div>
                                </div>
                                {% endfor %}    
                            </div>
                        </section>
                    </div>
                </div>
                <div id="beverages-sfr" class="container tab-pane fade">
                    <div class="row">
                        <section class="container content-section">
                            <div class="shop-items">
                                {% for s in set_menu %}  
                                <div class="shop-item">
                                    <span class="shop-item-title">{{s.name}}</span>
                                    <img data-tilt class="shop-item-image" src="{{s.image.url}}">
                                    <div class="shop-item-details">
                                        <span class="shop-item-price">{{s.price}}<i class="fa-solid fa-manat-sign"></i></span>
                                        <button class="btn btn-primary shop-item-button" type="button">Əlavə Et</button>
                                    </div>
                                </div>
                                {% endfor %}     
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Menu End -->


