{% extends 'base.html' %}
{% load static %}

{% block section %}


<!-- Carousel Start -->
<div class="carousel">
    <div class="container-fluid">
        <div class="owl-carousel">
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="{% static 'img/carousel-1.jpeg' %}" alt="Image">
                </div>
                <div class="carousel-text">
                    <h1 style="margin:20px;">Best <span>Quality</span> Burgers</h1>
                    <p>
                        {% if request.user.is_authenticated %}
                    <p style="font-family: 'Raleway', sans-serif;">Welcome, <span>{{request.user.username}} </span>
                        <i style="color: yellow;" class="fa-solid fa-face-smile"></i>
                    </p>
                    <div class="carousel-btn">
                        <a class="btn custom-btn" href="/menu">Make an order</a>
                        <a class="btn custom-btn" href="/booking">Make a reservation</a>
                    </div>
                    {% else %}
                    <p style="font-family: 'Raleway', sans-serif;">You are still not among us ? <i
                            style="color: yellow;" class="fa-solid fa-face-frown"></i></p>
                    <div class="carousel-btn">
                        <a class="btn custom-btn" href="/user/register">Register</a>
                        <a class="btn custom-btn" href="/user/login">Login</a>
                    </div>

                    {% endif %}
                    <br><br>


                    <p style="color: white; font-family: 'Raleway', sans-serif;">If you want to eat but <span
                            style="color: #fbaf32;">cheap</span> but <span style="color: #fbaf32;">quality</span> bir
                        food, you can order us <i style="color: red;" class="fa-solid fa-heart"></i></p>
                    </p>
                    </p>

                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="{% static 'img/carusel-2.jpeg' %}" alt="Image">
                </div>
                <div class="carousel-text">
                    <h1 style="margin:20px;">Best <span>Quality</span> Burgers</h1>
                    <p>
                        {% if request.user.is_authenticated %}
                    <p style="font-family: 'Raleway', sans-serif;">Welcome, <span>{{request.user.username}} </span>
                        <i style="color: yellow;" class="fa-solid fa-face-smile"></i>
                    </p>
                    <div class="carousel-btn">
                        <a class="btn custom-btn" href="/menu">Make an order</a>
                        <a class="btn custom-btn" href="/booking">Make a reservation</a>
                    </div>
                    {% else %}
                    <p style="font-family: 'Raleway', sans-serif;">You are still not among us ? <i
                            style="color: yellow;" class="fa-solid fa-face-frown"></i></p>
                    <div class="carousel-btn">
                        <a class="btn custom-btn" href="/user/register">Register</a>
                        <a class="btn custom-btn" href="/user/login">Login</a>
                    </div>

                    {% endif %}
                    <br><br>


                    <p style="color: white; font-family: 'Raleway', sans-serif;">If you want to eat but <span
                            style="color: #fbaf32;">cheap</span> but <span style="color: #fbaf32;">quality</span> bir
                        food, you can order us <i style="color: red;" class="fa-solid fa-heart"></i></p>
                    </p>
                    </p>

                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="{% static 'img/carusel-3.jpeg' %}" alt="Image">
                </div>
                <div class="carousel-text">
                    <h1 style="margin:20px;">Best <span>Quality</span> Burgers</h1>
                    <p>
                        {% if request.user.is_authenticated %}
                    <p style="font-family: 'Raleway', sans-serif;">Welcome, <span>{{request.user.username}} </span>
                        <i style="color: yellow;" class="fa-solid fa-face-smile"></i>
                    </p>
                    <div class="carousel-btn">
                        <a class="btn custom-btn" href="/menu">Make an order</a>
                        <a class="btn custom-btn" href="/booking">Make a reservation</a>
                    </div>
                    {% else %}
                    <p style="font-family: 'Raleway', sans-serif;">You are still not among us ? <i
                            style="color: yellow;" class="fa-solid fa-face-frown"></i></p>
                    <div class="carousel-btn">
                        <a class="btn custom-btn" href="/user/register">Register</a>
                        <a class="btn custom-btn" href="/user/login">Login</a>
                    </div>

                    {% endif %}
                    <br><br>


                    <p style="color: white; font-family: 'Raleway', sans-serif;">If you want to eat but <span
                            style="color: #fbaf32;">cheap</span> but <span style="color: #fbaf32;">quality</span> bir
                        food, you can order us <i style="color: red;" class="fa-solid fa-heart"></i></p>
                    </p>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->


{% if request.user.is_authenticated %}
<!-- Booking Start -->
<div class="booking">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="booking-content">
                    <div class="section-header">
                        <p>Make a reservation</p>
                        <h2>Reserve your table for special tastes and times</h2>
                    </div>
                    <div class="about-text">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate similique, numquam,
                            minima blanditiis at voluptas fuga rerum deleniti laborum mollitia expedita veritatis
                            accusantium delectus reiciendis nam aliquam quisquam facere quasi iusto voluptatum
                            laboriosam nulla? Necessitatibus perferendis tempora sed iure quo, est dignissimos. Error in
                            eveniet doloribus porro doloremque, adipisci laborum, nam numquam ea, explicabo quam
                            voluptatibus exercitationem officiis. Sed harum recusandae tempora voluptas fuga! Cum,
                            labore. Doloremque numquam corrupti similique eius excepturi. Asperiores fugit molestiae
                            ratione voluptates nulla anes quos animi. Ad amet quae, iusto quo nostrum,
                            eveniet voluptate quis nihil nesciunt architecto voluptas. Deleniti iste quae ab officia. A
                            possimus sed itaque molestiae mollitia tenetur. Quia earum voluptate nihil corrupti
                            consequuntur.</p>
                        <p>
                            <span style="color: red;">!</span> If the reservation is canceled 7 days before the
                            reservation date, we will refund the entire advance payment. <br>
                            <span style="color: red;">!!</span> We will refund 50% of the advance payment if canceled 2
                            days before the date. <br>
                            <span style="color: red;">!!!</span> If canceled less than 2 days prior to the date, the
                            advance payment will not be refunded.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="booking-form">
                    <form>
                        <div class="control-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Name" required="required" />
                                <div class="input-group-append">
                                    <div class="input-group-text"><i class="far fa-user"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="input-group">
                                <input type="email" class="form-control" placeholder="Email" required="required" />
                                <div class="input-group-append">
                                    <div class="input-group-text"><i class="far fa-envelope"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="input-group">
                                <input id="mobilenumber" type="text" class="form-control" placeholder="Phone Numberr"
                                    required="required" />
                                <div style="display: flex;" class="input-group-append">
                                    <div class="input-group-text"><i class="fa fa-mobile-alt"></i></div>
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="input-group date" id="date" data-target-input="nearest">
                                <input type="text" class=" mask form-control datetimepicker-input" placeholder="Date"
                                    data-target="#date" data-toggle="datetimepicker" />
                                <div class="input-group-append" data-target="#date" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="input-group time" id="time" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" placeholder=" Time"
                                    data-target="#time" data-toggle="datetimepicker" />
                                <div class="input-group-append" data-target="#time" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="far fa-clock"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="input-group">
                                <select style="background-color: orange;" class="custom-select form-control">
                                    <option selected>Which Branch?</option>
                                    <option value="1">Narmanov </option>
                                    <option value="2">Nizami </option>
                                    <option value="3">28 May </option>
                                </select>
                                <div class="input-group-append">
                                    <div class="input-group-text"><i class="fa fa-chevron-down"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="input-group">
                                <select style="background-color: orange;" class="custom-select form-control">
                                    <option selected>How many people?</option>
                                    <option value="1">1 </option>
                                    <option value="2">2 </option>
                                    <option value="3">3 </option>
                                    <option value="4">4 </option>
                                    <option value="5">5 </option>
                                    <option value="6">6 </option>
                                    <option value="7">7 </option>
                                    <option value="8">8 </option>
                                    <option value="9">9 </option>
                                    <option value="10">10</option>
                                </select>
                                <div class="input-group-append">
                                    <div class="input-group-text"><i class="fa fa-chevron-down"></i></div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button id="basicAlert" class="btn custom-btn" type="button">Book Now</button>
                        </div>
                        <script>
                            document.getElementById('basicAlert').addEventListener('click', function () {
                                Swal.fire(
                                    'Thanks!',
                                    'A return will be made shortly !',
                                    'success'
                                )
                            });
                        </script>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Booking End -->
{% endif %}

<!-- Feature Start -->
<div class="feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-header">
                    <p>Why Choose Us?</p>
                    <h2>What's Our Difference?</h2>
                </div>
                <div class="feature-text">
                    <div class="feature-img">
                        <div class="row">
                            <div class="col-6">
                                <img src="{% static 'img/feature-4.jpg' %}" alt="Image">
                            </div>
                            <div class="col-6">
                                <img src="{% static 'img/feature-2.png' %}" alt="Image">
                            </div>
                            <div class="col-6">
                                <img src="{% static 'img/feature-3.jpg' %}" alt="Image">
                            </div>
                            <div class="col-6">
                                <img src="{% static 'img/feature-1.jpg' %}" alt="Image">
                            </div>
                        </div>
                    </div>
                    <p>
                        Hungry Bunny Restaurant is the story of the Hamidov family and is built on family love and
                        cooperation. The restaurant is the place of real Doner and Doner lovers. Its beginning is
                        related to the return to Azerbaijan after 5 years of Hörmat Hamidov, who gained invaluable
                        experience abroad in 2005. Hungry Bunny Restaurant with its chef CZN Burak is the first
                        Azerbaijani restaurant to make the list of the 50 best restaurants in the world.</p>

                    <a class="btn custom-btn" href="">Choose yourself a good time and table</a>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="feature-item">
                            <i class="flaticon-cooking"></i>
                            <h3>The most skilled craftsmen</h3>
                            <p>
                                The most skilled and talented chefs from 4 corners of the world and our country are with us.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="feature-item">
                            <i class="flaticon-vegetable"></i>
                            <h3>Natural Products</h3>
                            <p>
                                We offer you both healthy and tasty food with natural and clean products.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="feature-item">
                            <i class="flaticon-medal"></i>
                            <h3>Best Quality Products</h3>
                            <p>
                                The fact that our products are natural, clean and delicious distinguishes us from others.
                            </p> 

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="feature-item">
                            <i class="flaticon-meat"></i>
                            <h3>Fresh Vegetables and Meats</h3>
                            <p>
                                Our meats have been checked by many companies and their storage conditions and cleanliness have been confirmed.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="feature-item">
                            <i class="flaticon-courier"></i>
                            <h3>Fastest Delivery</h3>
                            <p>
                                Our cheap, fast and heat-retaining delivery is with you.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="feature-item">
                            <i class="flaticon-fruits-and-vegetables"></i>
                            <h3>Hygienic Products</h3>
                            <p>
                                The fact that our products are natural, clean and tasty makes us different from others.                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->


<!-- Food Start -->
<div class="food">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4">
                <div class="food-item">
                    <i class="flaticon-burger"></i>
                    <h2>Burgers</h2>
                    <p>
                        We are sure that the meaty burgers will leave a great taste in your mouth and fill you up
                    </p>
                    <a href="/menu">See Menus</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="food-item">
                    <i class="flaticon-cocktail"></i>
                    <h2>Drinks</h2>
                    <p>
                        Our cool and high-quality drinks will cool you down and are great with your food
                        will go
                    </p>
                    <a href="/menu">See Menus</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="food-item">
                    <i class="fa-solid fa-kitchen-set"></i>
                    <h2>Sets</h2>
                    <p>
                        We have a lot of delicacies with you at a cheap price. We say do not miss these opportunities.
                        We are sure that you will like them
                    </p>
                    <a href="/menu">See Menus</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Food End -->

{% if request.user.is_authenticated %}
<!-- Menu Start -->
{% include 'include_menu.html' %}
<center>
    <a class="btn custom-btn" href="/menu">Make an order</a>
</center>
{% endif %}
<!-- Menu End -->

<!-- Team Start -->
<div class="team">
    <div class="container">
        <div class="section-header text-center">
            <p>Our Team</p>
            <h2>Our Master Chefs</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{% static 'img/CZN.jpg' %}" alt="Image">
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h2>CZN Burak</h2>
                        <p>Chef</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{% static 'img/nusret.jpg' %}" alt="Image">
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h2>Nusret</h2>
                        <p>Chef</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{% static 'img/danilo.jpg' %}" alt="Image">
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h2>Somer</h2>
                        <p>Chef</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="{% static 'img/mehmet.jpg' %}" alt="Image">
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h2>Mehmet</h2>
                        <p>Chef</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->

<!-- Projects Start -->
<div class="container-filuid py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col text-center mb-4">
                <h6 style="color: #719a0a;" class="font-weight-normal text-uppercase mb-3">Our locations</h6>
                <h1 class="mb-4">Let us introduce you to our places</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center mb-2">
                <ul class="list-inline mb-4" id="portfolio-flters">
                    <li class="btn btn-outline-warning m-1 active" data-filter="*">All</li>
                    <li class="btn btn-outline-warning m-1" data-filter=".first">Favorites</li>
                    <li class="btn btn-outline-warning m-1" data-filter=".second">New Openings</li>
                    <li class="btn btn-outline-warning m-1" data-filter=".third">Student Discounts</li>
                </ul>
            </div>
        </div>
        <div class="row mx-1 portfolio-container">
            <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item first">
                <div class="position-relative overflow-hidden">
                    <div class="portfolio-img d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="{% static 'img/1.jpg' %}" alt="">
                    </div>
                    <div
                        class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                        <h4 class="text-white mb-4">Nizami Branch</h4>
                        <div class="d-flex align-items-center justify-content-center">
                            <a class="btn btn-warning m-1" target="_blank" href="https://goo.gl/maps/sdsdxQUgbkc3baTC8">
                                <i class="fa fa-link"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item second">
                <div class="position-relative overflow-hidden">
                    <div class="portfolio-img d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="{% static 'img/2.jpg' %}" alt="">
                    </div>
                    <div
                        class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                        <h4 class="text-white mb-4">Narmanov Branch </h4>
                        <div class="d-flex align-items-center justify-content-center">
                            <a class="btn btn-warning m-1" target="_blank" href="https://goo.gl/maps/sdsdxQUgbkc3baTC8">
                                <i class="fa fa-link"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item third">
                <div class="position-relative overflow-hidden">
                    <div class="portfolio-img d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="{% static 'img/3.jpg' %}" alt="">
                    </div>
                    <div
                        class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                        <h4 class="text-white mb-4">Elmlar Branch</h4>
                        <div class="d-flex align-items-center justify-content-center">
                            <a class="btn btn-warning m-1" target="_blank" href="https://goo.gl/maps/sdsdxQUgbkc3baTC8">
                                <i class="fa fa-link"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item first">
                <div class="position-relative overflow-hidden">
                    <div class="portfolio-img d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="{% static 'img/ejdaha-4.jpg' %}" alt="">
                    </div>
                    <div
                        class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                        <h4 class="text-white mb-4">İnshaatchılar Branch</h4>
                        <div class="d-flex align-items-center justify-content-center">
                            <a class="btn btn-warning m-1" target="_blank" href="https://goo.gl/maps/sdsdxQUgbkc3baTC8">
                                <i class="fa fa-link"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item second">
                <div class="position-relative overflow-hidden">
                    <div class="portfolio-img d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="{% static 'img/ejdaha-5.jpg' %}" alt="">
                    </div>
                    <div
                        class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                        <h4 class="text-white mb-4">Ganclik Branch</h4>
                        <div class="d-flex align-items-center justify-content-center">
                            <a class="btn btn-warning m-1" target="_blank" href="https://goo.gl/maps/sdsdxQUgbkc3baTC8">
                                <i class="fa fa-link"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item third">
                <div class="position-relative overflow-hidden">
                    <div class="portfolio-img d-flex align-items-center justify-content-center">
                        <img class="img-fluid" src="{% static 'img/ejdaha-6.jpg' %}" alt="">
                    </div>
                    <div
                        class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                        <h4 class="text-white mb-4">28 May Branch</h4>
                        <div class="d-flex align-items-center justify-content-center">
                            <a class="btn btn-warning m-1" target="_blank" href="https://goo.gl/maps/sdsdxQUgbkc3baTC8">
                                <i class="fa fa-link"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Projects End -->

<!-- Contact Start -->
<div class="contact">
    <div class="container">
        <div class="section-header text-center">
            <p>Contact Us For Any Questions</p>
        </div>
        <div class="row align-items-center contact-information">
            <div class="col-md-6 col-lg-3">
                <div class="contact-info">
                    <div class="contact-icon">
                        <i class="fa fa-map-marker-alt"></i>
                    </div>
                    <div class="contact-text">
                        <h3>Address</h3>
                        <p>Baku, AZE</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="contact-info">
                    <div class="contact-icon">
                        <i class="fa fa-phone-alt"></i>
                    </div>
                    <div class="contact-text">
                        <h3>Call</h3>
                        <p>+994 070 494 91 11</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="contact-info">
                    <div class="contact-icon">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="contact-text">
                        <h3>Email</h3>
                        <p>info@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="contact-info">
                    <div class="contact-icon">
                        <i class="fa fa-share"></i>
                    </div>
                    <div class="contact-text">
                        <h3>Follow Us</h3>
                        <div class="contact-social">
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row contact-form">
            <div class="col-md-6">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.3024328134775!2d49.809140214761086!3d40.379989265798294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307dcf8079e889%3A0x5ac9cd74d3f9a22b!2sAjdaha%20doner%20Elmler!5e0!3m2!1str!2s!4v1650187988537!5m2!1str!2s"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-md-6">
                <form method="POST">
                    {% csrf_token %}
                    {{form}}
                    
                    <div>
                        <button id="formbtn" style="margin-top: 4px;" class="btn custom-btn" type="submit"> Send</button>
                    </div>

                    <script>
                        document.getElementById('formbtn').addEventListener('click', function () {
                            Swal.fire(
                                'Your message has been sent',
                                'You will get back to us soon !',
                                'success'
                            )
                        });
                    </script>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->

{% endblock section %}