{% extends 'base.html' %}
{% load static %}


{% block section %}
<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Your comments</h2>
                <a class="btn custom-btn" href="/articles/addarticle">Share your opinion</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Single Post Start-->
<div class="single">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="single-content">

                    {% if articles %}

                    <h2 style="text-align: center; margin:20px;"> Reviews of our customers </h2>

                    {% for article in articles %}

                    <div style="border-radius:20px;" class="single-bio">
                        <div class="single-bio-text">
                            <h3><a href="#">{{article.author}} <span style="color: #719a0a;"> said that :</span></a>
                            </h3>
                            <hr>
                            <h4><a style="color: black;">{{article.title}}</a></h4>
                            <p>
                                <span style="color:black; font-size:large; "></span> {{article.content}}
                            </p>
                            <br>

                            <form action="{% url 'article:like-post' %}" method="POST" class="ui form">
                                {% csrf_token %}
                                <input type="hidden" name="post_id" value="{{ article.id }}">

                                {% if user not in article.liked.all %}
                                <button class="ui btn btn-primary" type="submit"><i
                                        class="fa-solid fa-thumbs-up"></i></button>
                                {% else %}
                                <button class="ui btn btn-danger" type="submit"><i
                                        class="fa-solid fa-thumbs-down"></i></button>
                                {% endif %}
                                <strong> Likes : {{article.liked.all.count}}</strong>
                            </form>
                            <br>

                            <span>{{article.created_date}}</span>
                        </div>
                    </div>
                    {% endfor %}

                    </tbody>
                    </table>

                    {% else %}

                    <div style="text-align: center; margin:20px" class="alert alert-danger">
                        Your comment is not available...

                    </div>

                    {% endif %}

                </div>
                <div class="single-tags">
                    <a href="">Healthy Eating</a>
                    <a href="">Products</a>
                    <a href="">Quality</a>
                    <a href="">Service</a>
                    <a href="">Lifestyle</a>
                    <a href="">Locations</a>
                </div>

                <div class="single-related">
                    <h2>Related Posts</h2>
                    <div class="owl-carousel related-slider">
                        <div class="post-item">
                            <div class="post-img">
                                <img src="{% static 'img/post-1.avif' %}" />
                            </div>
                            <div class="post-text">
                                <a href="">It is very tasty and of good quality</a>
                                <div class="post-meta">
                                    <p><a href="">flora_huseynova </a> By</p>
                                </div>
                            </div>
                        </div>
                        <div class="post-item">
                            <div class="post-img">
                                <img src="{% static 'img/post-2.avif' %}" />
                            </div>
                            <div class="post-text">
                                <a href="">I liked it very much</a>
                                <div class="post-meta">
                                    <p><a href="">murad </a> By</p>
                                </div>
                            </div>
                        </div>
                        <div class="post-item">
                            <div class="post-img">
                                <img src="{% static 'img/post-3.avif' %}" />
                            </div>
                            <div class="post-text">
                                <a href="">The prices are affordable, I really liked it</a>
                                <div class="post-meta">
                                    <p><a href="">nezrin19 </a> By</p>
                                </div>
                            </div>
                        </div>
                        <div class="post-item">
                            <div class="post-img">
                                <img src="{% static 'img/post-4.avif' %}" />
                            </div>
                            <div class="post-text">
                                <a href="">The service is very nice</a>
                                <div class="post-meta">
                                    <p><a href="">azim </a> By</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="sidebar-widget">
                        <div class="search-widget">
                            <form>
                                {% csrf_token %}
                                <input name="keyword" maxlength="64" class="form-control" type="text"
                                    placeholder="Axtar">
                                <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>

                    <div class="sidebar-widget">
                        <div class="image-widget">
                            <a href="#"><img src="{% static 'img/jsjs.jpg' %}" alt="Image"></a>
                        </div>
                    </div>


                    <div class="sidebar-widget">
                        <div class="image-widget">
                            <a href="#"><img src="{% static 'img/blog-3.avif' %}" alt="Image"></a>
                        </div>
                    </div>

                    <div class="sidebar-widget">
                        <h2 class="widget-title">Categories</h2>
                        <div class="category-widget">
                            <ul>
                                <a href="">Healthy Eating</a>
                                <a href="">Products</a>
                                <a href="">Quality</a>
                                <a href="">Service</a>
                                <a href="">Lifestyle</a>
                                <a href="">Locations</a>
                            </ul>
                        </div>
                    </div>

                    <div class="sidebar-widget">
                        <div class="image-widget">
                            <a href="#"><img src="{% static 'img/blog-4.avif' %}" alt="Image"></a>
                        </div>
                    </div>

                    <div class="sidebar-widget">
                        <h2 class="widget-title">Our Tags</h2>
                        <div class="tag-widget">
                            <a href="">#hungry</a>
                            <a href="">#hungrysburgers</a>
                            <a href="">#hungrybunny</a>
                            <a href="">#bunnysss</a>
                        </div>
                    </div>

                    <div class="sidebar-widget">
                        <h2 class="widget-title">Our short message</h2>
                        <div class="text-widget">
                            <p>
                                It gives us great joy and satisfaction to serve you. We are always ready to be at your
                                service. Your kind comments and your liking and choosing us encourage us even more.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Single Post End-->

{% endblock section %}