{% extends "base.html" %}

{% load static %}

{% block section %}

<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Terms of Service</h2>
            </div>

        </div>
    </div>
</div>
<!-- Page Header End -->
<div style="margin: 40px;">
    <h6>
        <span style="color: red;"> Fees and Services:</span> <br>
        Membership to the site is free. The Platform does not require any fees to browse, bid and buy on the Website.
        The Platform reserves the right to change the Platform Fee and/or Platform Fee policy from time to time. Changes
        to the Platform Fee and Platform Fee Policy will be posted on the Website and such changes shall be
        automatically effective immediately upon posting on the Website. Unless otherwise specified, all payments shall
        be denominated in Indian Rupees and shall be payable to the Platform within the time specified in the invoice.
        Taxes: You are responsible for paying all fees associated with the use of the Website and you are responsible
        for paying any and all applicable taxes, fees, charges, etc. levied thereon. you agree to take. Free: Platform
        reserves the right to give notice, temporarily/indefinitely suspend or terminate your membership of the Website
        and refuse to provide you access to the Website in case of non-payment of Platform Fees from time to time. The
        Platform also reserves the right to take legal action in the event of non-payment of Platform Fees.
    </h6>
    <br>
    <h6>
        <span style="color: red;"> Fees and Services:</span> <br>
        Membership to the site is free. The Platform does not require any fees to browse, bid and buy on the Website.
        The Platform reserves the right to change the Platform Fee and/or Platform Fee policy from time to time. Changes
        to the Platform Fee and Platform Fee Policy will be posted on the Website and such changes shall be
        automatically effective immediately upon posting on the Website. Unless otherwise specified, all payments shall
        be denominated in Indian Rupees and shall be payable to the Platform within the time specified in the invoice.
        Taxes: You are responsible for paying all fees associated with the use of the Website and you are responsible
        for paying any and all applicable taxes, fees, charges, etc. levied thereon. you agree to take. Free: Platform
        reserves the right to give notice, temporarily/indefinitely suspend or terminate your membership of the Website
        and refuse to provide you access to the Website in case of non-payment of Platform Fees from time to time. The
        Platform also reserves the right to take legal action in the event of non-payment of Platform Fees.
    </h6>
    <br>

    <h6>
        <span style="color: red;"> Fees and Services:</span> <br>
        Membership to the site is free. The Platform does not require any fees to browse, bid and buy on the Website.
        The Platform reserves the right to change the Platform Fee and/or Platform Fee policy from time to time. Changes
        to the Platform Fee and Platform Fee Policy will be posted on the Website and such changes shall be
        automatically effective immediately upon posting on the Website. Unless otherwise specified, all payments shall
        be denominated in Indian Rupees and shall be payable to the Platform within the time specified in the invoice.
        Taxes: You are responsible for paying all fees associated with the use of the Website and you are responsible
        for paying any and all applicable taxes, fees, charges, etc. levied thereon. you agree to take. Free: Platform
        reserves the right to give notice, temporarily/indefinitely suspend or terminate your membership of the Website
        and refuse to provide you access to the Website in case of non-payment of Platform Fees from time to time. The
        Platform also reserves the right to take legal action in the event of non-payment of Platform Fees.
    </h6>
</div>
{% endblock section %}