{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block section %}

   <!-- Page Header Start -->
   <div class="page-header mb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Yorumunu Güncəllə</i></h2>
            </div>
            
        </div>
    </div>
   </div>
<!-- Page Header End -->

<div class="row">
    <div class="col-md-6 offset-md-3">
        <br>
        <h3>Sənin düşüncələrini maraqla gözləyirik  </h3>
        <hr>
        <form enctype="multipart/form-data" method = 'post'>
            {% csrf_token %}
            {{form|crispy}}
            <br>
            <button type="submit" class = 'btn btn-warning'>Güncəllə</button>
            <button type="submit" href="/articles/update" class = 'btn btn-danger'>Geri Dön</button>

        </form>
    </div>

</div>

{% endblock section %}